@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Crimson+Text&family=Darumadrop+One&family=Josefin+Sans&family=Kanit:wght@200&family=Kiwi+Maru&family=Lilita+One&family=Monomaniac+One&family=Niramit:wght@200&family=Sigmar&family=Sofia&family=Sono:wght@300;400&family=Space+Mono:wght@700&family=Tsukimi+Rounded:wght@500&family=VT323&family=Varela+Round&family=Wix+Madefor+Text&display=swap');
* {
  box-sizing: border-box;
}

body {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

  color: #fc698d;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}